[Desktop Entry]
Name=Graphics Scenes
X-GammaRay-Types=QGraphicsScene;
X-GammaRay-ServiceTypes="com.kdab.GammaRay.ToolFactory;com.kdab.GammaRay.ToolUiFactory"
Exec=gammaray_sceneinspector_plugin
