[Desktop Entry]
Name=Graphics Scenes
X-GammaRay-Types=QGraphicsScene;
X-GammaRay-ServiceTypes=com.kdab.GammaRay.ToolFactory
Exec=gammaray_sceneinspector_plugin
