[Desktop Entry]
X-GammaRay-Id=gammaray_objectvisualizer
X-GammaRay-ServiceTypes=com.kdab.GammaRay.ToolUiFactory
Exec=gammaray_objectvisualizer_ui_plugin
