[Desktop Entry]
Name=Object Visualization
X-GammaRay-Types=QObject;
X-GammaRay-ServiceTypes=com.kdab.GammaRay.ToolFactory
Exec=gammaray_objectvisualizer_plugin
