[Desktop Entry]
Name=State Machines
X-GammaRay-Types=QStateMachine;
X-GammaRay-ServiceTypes=com.kdab.GammaRay.ToolFactory
Exec=gammaray_statemachineviewer_plugin
