# general
*.kdev4
*~
*.rej
*.orig
*.out
CMakeSettings.json
CMakeLists.txt.user
*.qmlc
callgrind.out.*
perf.data*

# from kdiff3
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*

# ts generation
translations/plugin_meta_data.cpp
