# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
exclude: ^(3rdparty/|cmake/ECM/|cmake/KDAB/|launcher/ui/processlist.*|compat/qasconst.h)
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-yaml
    args: [--allow-multiple-documents]
  - id: check-json
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v14.0.0
  hooks:
  - id: clang-format
- repo: https://github.com/PyCQA/pylint
  rev: v2.15.2
  hooks:
  - id: pylint
    exclude: ^(.cmake-format.py|conan/.*/conanfile.py)
- repo: https://github.com/pre-commit/mirrors-autopep8
  rev: v1.7.0
  hooks:
  - id: autopep8
    exclude: ^(.cmake-format.py|conan/.*/conanfile.py)
- repo: https://github.com/codespell-project/codespell
  rev: v2.2.1
  hooks:
  - id: codespell
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-lint
    exclude: (cmake/Toolchain-QNX|.py.cmake|Doxyfile.cmake|gammaray.qhcp.cmake|gammaray.rc.cmake|config-gammaray.h.cmake)
  - id: cmake-format
    exclude: (cmake/Toolchain-QNX|.py.cmake|Doxyfile.cmake|gammaray.qhcp.cmake|gammaray.rc.cmake|config-gammaray.h.cmake)
- repo: https://github.com/fsfe/reuse-tool
  rev: v1.0.0
  hooks:
  - id: reuse
