[Desktop Entry]
X-GammaRay-Id=gammaray_actioninspector
X-GammaRay-ServiceTypes=com.kdab.GammaRay.ToolUiFactory
Exec=gammaray_actioninspector_ui_plugin
