[Desktop Entry]
Name=Quick Scenes
X-GammaRay-Types=QQuickWindow;
X-GammaRay-ServiceTypes=com.kdab.GammaRay.ToolFactory
Exec=gammaray_quickinspector
Hidden=true
