[Desktop Entry]
Name=Font Browser
X-GammaRay-Types="QGuiApplication;QApplication;"
X-GammaRay-ServiceTypes=com.kdab.GammaRay.ToolFactory
Exec=gammaray_fontbrowser_plugin
