[Desktop Entry]
Name=Script Engines
X-GammaRay-Types=QScriptEngine;
X-GammaRay-ServiceTypes=com.kdab.GammaRay.ToolFactory
Exec=gammaray_scriptenginedebugger_plugin
X-GammaRay-Remote=false
