[Desktop Entry]
Name=Selection Models
X-GammaRay-Types=QItemSelectionModel;
X-GammaRay-ServiceTypes=com.kdab.GammaRay.ToolFactory
Exec=gammaray_selectionmodelinspector_plugin
