/* main content area */
div.content {
    display: inline-block;
    float: left;
    width: 80%;
    padding-right: 2em;
    padding-top: 2em;
}

/* right sidebar */
div.sidebar {
    display: block;
    float: right;
    width: 20%;
    padding-top: 2em;
}

div.sidebar ul {
    list-style: none;
    padding-left: 1.3em;
}

div.sidebar li:before {
    content: "\2023";
    /* color: #7F9CAD; TODO */
    display: inline-block;
    float: left;
    margin-left: -1.3em;
    width: 1.3em;
}

.toc,.sectionlist {
    padding: 1em;
    background-color:#eee; /* TODO */
    margin-bottom:2em
}

/* navigation breadcrumb at the top */
nav.breadcrumbHolder ul {
    list-style: none;
    padding-left: 0px;
    font-size: small;
    font-weight: 400;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
}
nav.breadcrumbHolder li {
    display: inline-block;
    position: relative;
    padding-right: 0.25em;
    color: #7F9CAD;
}
nav.breadcrumbHolder li a {
    color: #7F9CAD;
}
nav.breadcrumbHolder li a:hover {
    color: #4C758D;
}
nav.breadcrumbHolder li:after {
    color: #7F9CAD;
    content: "\2023";
    padding-left: 0.5em;
}
nav.breadcrumbHolder ul li:nth-last-child(2) {
    color: #7F9CAD;
    font-weight: 700;
}

#buildversion {
    font-style:italic;
    font-size:small;
    float:right
}
#buildversion:after {
    content:none;
}

/* forward/back links */
.naviNextPrevious.headerNavi {
    display: none;
}

.naviNextPrevious.footerNavi {
    margin-top: 25px;
    max-width: 100%;
}

.nextPage {
    float: right;
}
/* TODO use KDAB-style triangles instead of <> */
.prevPage::before {
    content: "< ";
}
.nextPage::after {
    content: " >";
}

/* content styling */
/* TODO restrict this only to qdoc content, classes with WP style */
.border {
    border: 0px;
}
.border img {
   box-shadow:3px 3px 8px 3px rgba(200,200,200,0.5)
}

