[Desktop Entry]
Name=KJobs
X-GammaRay-Types=KJob;
X-GammaRay-ServiceTypes="com.kdab.GammaRay.ToolFactory;com.kdab.GammaRay.ToolUiFactory"
Exec=gammaray_kjobtracker_plugin
