[Desktop Entry]
Name=Translators
X-GammaRay-Types=QTranslator
X-GammaRay-ServiceTypes=com.kdab.GammaRay.ToolFactory
Exec=gammaray_translatorinspector
