[Desktop Entry]
Name=Widgets
X-GammaRay-Types=QWidget;
X-GammaRay-ServiceTypes="com.kdab.GammaRay.ToolFactory;com.kdab.GammaRay.ToolUiFactory"
Exec=gammaray_widgetinspector_plugin
