[Desktop Entry]
Name=Widgets
X-GammaRay-Types="QWidget;QApplication"
X-GammaRay-ServiceTypes=com.kdab.GammaRay.ToolFactory
Exec=gammaray_widgetinspector_plugin
